<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ros.letscookapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cooksy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cooksy_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsCookApp">
        <activity android:name=".WelcomeActivity"></activity>
        <activity android:name=".Youtube.YoutubeActivity" />
        <activity android:name=".Details.DetailsActivity" />
        <activity android:name=".Meals.MealsActivity" />
        <activity android:name=".Bottomnav.BottomNavActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>